header{
  margin: 50px;
}
body{
  font-size: 14px;

}
.row{
  margin-top: 15px;
  margin-bottom: 15px;
}

#simulationTab{
  height: 600px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
}

#simlegend{
  border-radius: 10px;
  background-color: #2196F3;
  color: white;
  padding: 5px 10px 5px 5px;
}



/* The switch - the box around the slider */
.switch {
  position: absolute;
  left: auto;
  right: auto;
  display: inline-block;
  width: 90px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  padding-top: 5px;
  padding-left: 5px;
  color: white;
  font-weight: 600;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Edit icon styles*/
#editIcon{
  height: 20px;
  width: 20px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profilePic{
  height: 110px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid black;
}

.layout-container {
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.layout-container > div {
}

.sidebar{
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}


.console{
  grid-column-start: 2;
  grid-column-end: 8;

}

.house-diagram{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 8;
}

.tab-items{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}

.tabLink{
  border-color: #2196F3; 
  border-width: 3px;
  border-radius: 0px 0px 5px 5px;
}

.tabStyle {
  width: 50%; 
  height: 500px; 
  margin-left: 25%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #2196F3;
}